torchvision==0.12.0
torch==1.11.0
EasyDict==1.11
opencv_python==4.8.1.78
shapely==2.0.2
Cython
scipy
pandas
pyyaml
h5py
json_tricks
scikit-image
tensorboardX==2.4.1
pymvg==2.0.0
einops
timm==0.6.13
tqdm

